<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>재고 명</th>
                <th>가 격</th>
                <th>수 량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stock : ${stocks}">
                <td th:text="${stock.id}"></td>
                <td th:text="${stock.name}"></td>
                <td th:text="${stock.price}"></td>
                <td th:text="${stock.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/stocks/{id}/edit (id=${stock.id})}" class="btn btn-primary" role="button">수정</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>