<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Logout Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron"><h1>Logout</h1>
        <form th:action="@{/logout}" method="post">
            <p><input type="submit" value="Logout"/></p>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
